.poster-container {
    margin-top: 5rem; /* Push image below the fixed header */
}

  .poster-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;  /* Full screen width */
    height: 100vh; /* Full screen height */
    overflow: hidden; /* Prevents scrollbars */
    z-index: -1; /* Moves it to the background */
  }
  
  .full-screen-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures it covers the screen */
  }
  
  /* Laptop/Desktop Screens */
  @media (min-width: 1024px) {
    .full-screen-image {
      object-fit: contain; /* Ensures the full poster is visible */
    }
  }
  